body{
  font-family: Arial;
}
.top-div{
  background-color: darkblue;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: px;
}
.beneficiary-header{
  background-color: rgb(121, 170, 187);
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.beneficiary-input{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 70px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 30px;
}
.beneficiary-name, .beneficiary-number{

  height: 40px;
  margin-right: 5px;
}
.beneficiary-name, .beneficiary-number, .placeholder{
  font-size: 17px;
  padding-left: 10px;
}
.add{
 height: 33px; 
 background-color: rgb(4, 146, 4);
 border: none;
 width: 45px;
 border-radius: 3px;
}
.add:hover{
  cursor: pointer;
  background-color: rgb(35, 119, 35);
}
.beneficiary-output{
  background-color: rgb(243, 237, 237);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
   margin-top: 20px;
  
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 30px;
  
}
.name-text, .number-text{
  margin: 0;
   margin-right: 30px;
   font-size: 20px
}
.name-text{
  display: flex;
  justify-content: center;
  align-items: center;
}
.send-money-text{
  color: rgb(19, 19, 110);
  font-size: 13px;
  padding-left: 30px;
  margin: 0;
  margin-top: 5px;
  margin-bottom:5px;
}
.send-money-button{
  background-color: rgb(22, 22, 207);
  color: white;
  height: 25px;
}
.send-money-button:hover{
  background-color: green;
  cursor: pointer;
}
.delet-button{
  background-color: red;
  color: white;
  height: 25px;
  padding-left: 20px;
  padding-right: 20px;
}
.make{
  margin: none;
}