p{
        font-family: arial;
      }
      .atm-card{
        font-size: 20px;
        font-weight: bold;
        margin-left: 40px;
        margin-top: 30px;
      }
      .pcdiv{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
      }
      .physical-card{
        margin: 0;
        margin-top: 10px;
        font-size: 18px;
      }
      .card-div{
        display: flex;
        justify-content: center;
      }
      .card-imgdiv{
        width: 350px;
        position:relative;
      }
      .card-img{
        width: 350px;
        border-radius: 20px;
        
        
      }
      .card-number{
        width: 230px;
        display: flex;
        justify-content: space-between;
        position:absolute;
        left:25px;
        top:110px;
        font-weight: bold;
        font-size: 18px;
        color: rgb(15, 14, 14);
      }
      .card-date{
        display: flex;
        position:absolute;
        left: 150px;
        bottom:35px;
        font-weight: bold;
        font-size: 10px;
        color: rgb(46, 45, 45);
      }
      .card-name{
        width: 120px;
        display: flex;
        justify-content: space-between;
        position:absolute;
        left:25px;
        bottom:10px;
        font-weight: bold;
        font-size: 14px;
        color: rgb(78, 77, 77);
      }
      .content-div{
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 20px;
        background-color: antiquewhite;
      }
      .marchant-div{
        display: flex;
        width: 350px;
      }
      .glob-div{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .glob-icon{
        width: 40px; 
        border-radius: 15px;
      }
      .marchant-text{
        margin-left: 10px;
      }
      .span{
        color: rgb(10, 161, 10);
        font-weight: bold;;
      }