.dashboard{
  background-color: rgb(253, 60, 60);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-radius: 20px;
}
.Ddiv{
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.Ddivi{
  width: 60px;
  border-radius: 60px;

}