p{
  margin: 0;
  font-family: Arial;
}
.loan-div{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
 
}
.loan-text{
  background-color: #07ca79;
  font-weight: bold;
  font-size: 30px;
  width: 80px;
  height:80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
}
.pnc-div{
  background-color: #13bd76;
  height: 300px;
  padding-top: 10px;
  font-size: 13px;
  color: white;
  display: flex;
  justify-content: center;
  border: 0;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  position: relative;
}
.pnc-span{
  font-size: 20px;
  font-weight: bold;
}
.credit-div{
  background-color: rgba(230, 227, 227, 0.959);
  position: absolute;
  width: 610px;
  bottom: -150px;
  top:75px;
  border-radius: 25px;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.credit-limt{
  color: black;
  font-size: 19px;
}
.limit-amount{
  color: #149e65;
  margin-top: 30px;
  font-size: 50px;
  font-weight: bold;
}
.rate-div{
  width: 607px;
  display:flex;
  justify-content: center;
}
.rate-img-div{
  margin-top: 10px;
  margin-right: 10px;
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rate-img{
  width: 50px;
  mix-blend-mode: multiply;
  border-radius: 20px;
}
.rate-text{
  color: black;
  margin-top: 5px;
  font-size: 17px;
  font-weight: bold;
}
.get-limit-div{
  background-color: #07ca79;
  width: 500px;
  height: 70px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-limit-button{
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  padding: 10px 30px 10px 30px;
  border: none;
  background-color: #07ca79;
  color: white;
}
.get-limit-button:hover{
color: rgb(67, 67, 141);
}
.input-text{
  color: black;
  margin-top: 10px;
  font-size: 14px;
}