body{
  background-color: rgb(32, 32, 87);
  font-family: Arial;
}
.body-div{
  /*background-color: rgb(75, 7, 7);*/
  background-color: rgb(32, 32, 87);
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-div{
  background-color: white;
  height: 170px;
  width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header{
  font-weight: bold;
  color: white;
}
.card{
  display: block;
  margin-bottom:8px;
  border-width: 1px;
  height: 25px;
  margin-left: -50px;
}
.password{
  margin-bottom: 8px;
}
.login-js{
   margin: 0;
  margin-left: -80px;
  color:rgb(8, 8, 240);
}
.not-found{
  margin: 0;
  margin-left: -80px;
  color:rgb(212, 18, 18);
}
.pnc-img{
  width: 80px;
  border-radius: 60px;
}
.top-img-div{
  background-color: rgb(32, 32, 87);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

}
.top-img{
  width: 500px;
}
.grid-img-div{
  background-color: rgb(32, 32, 87);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
.topic{
  color: white;
  font-size: 30px;
}
.history{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.history-header{
  font-size: 30px;
  font-weight: bold;
}
.headline{
  font-size: 25px;
  margin-left: 40px;
  margin-right: 40px;
}
.color-div{

  background-color: #414e58;
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding-top:14px;
  padding-bottom: 17px;
}
.grid-div2{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.man{
  width: 100%;
}
.right-grid{
  font-size: 20px;
  margin-left: 40px;
}
.right-grid1{
  margin-top: 10px;
}
