body{
  background-color: rgb(243, 238, 238);
}
p{
  font-family: Arial;
}
.mobile-top-up-div{
  background-color: white;
  margin-left: 25px;
  margin-right: 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 410px;
  margin-bottom: 30px;
}
.mobile-text-div{
  padding-top: 10px;
  padding-left: 40px;
}
.mobile{
  font-size: 20px;
  font-weight: bold;
}
.mobile-text{
  font-weight: bold;
  color:rgb(49, 48, 48)
}
.contact-div{
  
  display: flex;
  height: 50px;
  margin-left: 40px;
}
.plus{
  background-color: rgb(209, 11, 11);
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.number{
 
  width: 250px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
   background-color: rgb(238, 233, 233);
}
.amount-input{
  
  margin-top: 30px;
  margin-left: 40px;
  height: 50px;
}
.first-input{
height: 42px;
width: 335px;
border-radius: 5px;
border-width: 1px;
font-size: 17px;
padding-left: 10px;
}
.select{
  height: 43px; 
}
.continue{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 200px;
  height: 50px;
}
.button{
  color: white;
  background-color: rgb(201, 15, 15);
  height: 35px;
  width: 130px;
  border: none;
  border-radius: 5px;
}
.recharge{
 margin-left: 130px;
 font-weight: bold;
}