
 body{
        background-color: rgb(60, 60, 136);
        font-family: Arial;
        margin: 0;
      }
      p{
        margin: 0;
      }
.header{
        color: white;
        font-weight: bold;
        font-size: 50px;
      }
      .header-div{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        margin-top: 40px;
        margin-bottom: 30px;
      }
      .transfer-div{
        background-color: white;
        padding-top: 15px;
        padding-bottom: 10px;
      }
      .E-header{
       display: flex;
        justify-content: center;
        align-items: center;
       font-weight: bold;
       margin-bottom: 30px;
       font-size: 40px;
      }
      .first-div{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
      } .first1{
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 30px;
      } .second1{
        display: flex;
        flex: 1;
        height: 40px;
        width: 400px;
        margin-bottom: 80px;
      }
      .first-input{
        display: flex;
        flex: 1;
        font-size: 18px;
       border-top: none;
       border-right: none;
       border-left: none;
      }
      .first-input::placeholder{
        font-size: 20px;
      }
      .first1-input{
        display: flex;
        flex: 1;
        font-size: 18px;
       border-top: none;
       border-right: none;
       border-left: none;
      }
      .first1-input::placeholder{
        font-size: 20px;
      }
      .date-div{
        margin-top: 10px;
        font-weight: bold;
      } .due-date{
        font-size: 20px;
      }
      .amount-div{
        margin-left: 10px;
      }
      .second2{
        display:flex;
      }
      .dollar-sing{
        display: flex;
        align-items: center;
        font-size: 30px;
        color: rgb(94, 86, 86);
        font-weight: bold;
      }
      .first-input2{
        font-size: 20px;
        color: black;
        font-weight: bold;
      }
      .confirm-button{
        background-color: green;
        color:white;
        border: none;
        margin-left: 10px;
      } .confirm-button:hover{
         background-color: lightgreen;
         cursor: pointer;
      }
      .check{
        margin-left: 20px;
        margin-top: 0px;
        font-size: 15px;
      }
      .cvv{
        width: 100px;
        font-size: 15px;
        height: 22px;
      }
      .js-check{
        margin-top: 10px;
      }
      .check-button{
        background-color: rgb(160, 24, 24);
        border: none;
        color: white;
        font-size: 15px;
        padding: 10px 10px;
        border-radius: 5px;
      } .check-button:hover{
        background-color: rgb(155, 76, 76);
        cursor: pointer;
      }
      .span-amount{
        color:blue;
      }
      .span-limit{
        color:rgb(173, 30, 30)
      }
      .send-drop{
        margin-bottom: 10px;

      }

